.images-1 {
    width: 4rem;
    height: 4rem;
    border-radius: 2rem;
}


.card-title:hover {
    color: bisque;
}

.card-text {
    font-size: 1.2rem;
}

label {
    text-decoration: underline;
    color: blueviolet;
}

